<form action="/users/signup" method="POST")>
    <label>
        First Name
        <input type="text" name="first_name" placeholder="John" />
    </label>
    <label>
        Last Name
        <input type="text" name="last_name" placeholder="Snow" />
    </label>
    <label>
        Email Address
        <input type="text" name="email" placeholder="you@email.com" />
    </label>
    <label>
        Password
        <input type="password" name="pasword" placeholder="Your Password" />
    </label>
    <button type="submit" class="button is-primary">LOGIN</button>   
</form>